* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/river-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

h2, h3, h4, h5, p {
    font-family: 'Barlow', sans-serif;
    text-align: center;
}


/*--------------------------------------------------------*/

/*NAVBAR */

#navbarNav {
    justify-content: flex-end;
    font-family: 'Barlow', sans-serif;
}

/*PHOTO-DRAWING COVER*/
.about {
    height: 100vh;
    margin-top: 4vh;
    padding: 5vh;
    color: white;
    text-align: center;
    background-color: rgb(17, 34, 60);
}


.img-me {
    width: 100%;
    padding: 5px;
    margin: 5px;
    background-color: rgb(28, 54, 92);
}

.about-me {
    padding-top: 2vh;
}

/*SKILLS/PORTFOLIO*/
.portfolio {
    margin: 4vw;
    padding: 2vw;
    border: 10px solid rgb(28, 54, 92);
    background-color: white;
}

i {
    padding: 10px;
}

i:hover {

}

/*FUN
.fun {
    color: white;
    background: rgba(17, 34, 60, 0.9);
    margin: 25px;
    padding: 3vw;
    border: 10px solid rgb(17, 34, 60);
}*/

/*CONTACT FORM*/
.contact-form {
    margin-bottom: 3vh;
    padding: 1vh 2vw;
    color: white;
    font-family: 'Barlow', sans-serif;
}

.form-control {
    border: 3px solid rgb(28, 54, 92);
}

.contact-heading {
    text-align: center;
}

.icon {
    color: white;
}

/*FOOTER*/

footer {
    margin: 1vh;
    color: white;
}