@media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }






h2 {
    font-family: "Alegreya Sans SC", sans-serif;
}
h4 {
    font-family: 'Barlow', sans-serif;
}
p {
    font-family: 'Barlow', sans-serif;
}

/*NAVBAR */

#navbarNav {
    justify-content: flex-end;
    font-family: "Alegreya Sans SC", sans-serif;
}

/*PHOTO*/
.about-me {
    margin: 3vw;
    padding: 1.5vw;
    background-color: rgb(17, 34, 60);
    color: white;
    text-align: center;
}


img[alt="lizzy-rio-bosque"] {
    height: 50vh;
    border-color: rgb(17, 34, 60);
    position: relative;
}


/*ABOUT-ME*/
.text {
    background-color: rgb(17, 34, 60);
    padding: 0 30px;
    color: white;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: large;
}


/*SKILLS/PORTFOLIO*/
.portfolio {
    margin: 0 2vw;
    padding: 0.5vw;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-left: 10px solid;
    border-color: rgb(17, 34, 60);
    background-color: white;
}
