html {
    background: url("bosque-dusk.jpg");
    background-position: center center;
    background-attachment: fixed;
}

h2 {
    font-family: "Alegreya Sans SC", sans-serif;
}
h4 {
    font-family: 'Barlow', sans-serif;
}
p {
    font-family: 'Barlow', sans-serif;
}

@media screen and (max-width: 1200px)  {

}

/*--------------------------------------------------------*/

/*NAVBAR */

#navbarNav {
    justify-content: flex-end;
    font-family: "Alegreya Sans SC", sans-serif;
}

/*PHOTO*/
.about-me {
    margin: vw;
    padding: .5vw;
    background-color: rgb(17, 34, 60);
    color: white;
    text-align: center;
}


img[alt="lizzy-rio-bosque"] {
    height: 50vh;
    border-color: rgb(17, 34, 60);
    position: relative;
}


/*ABOUT-ME*/
.bio {
    background-color: rgb(17, 34, 60);
    padding: 25px;
    color: white;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: large;
}


/*SKILLS/PORTFOLIO*/
.portfolio {
    margin: 0 2vw;
    padding: 0.5vw;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-left: 10px solid;
    border-color: rgb(17, 34, 60);
    background-color: white;
}

i {
    padding: 10px;
}

.contact-form {
    padding: 3vh 3vw;
}
