* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/river-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

h2, h4, h5, p {
    font-family: 'Barlow', sans-serif;
    text-align: center;
}


/*--------------------------------------------------------*/

/*NAVBAR */

#navbarNav {
    justify-content: flex-end;
    font-family: 'Barlow', sans-serif;
}

/*PHOTO-DRAWING COVER*/
.about {
    margin-top: 3rem;
    padding: 6vh;
    color: white;
    text-align: center;
    background-color: rgb(17, 34, 60);
}


.img-me {
    width: 100%;
    padding: 5px;
    margin: 5px;
    background-color: rgb(28, 54, 92);
}

.about-me {
    padding-top: 2vh;
}

/*SKILLS/PORTFOLIO*/
.portfolio {
    margin: 4vw 4vw 2vw 4vw;
    padding: 2vw;
    border-top: 10px solid;
    border-right: 10px solid;
    border-left: 10px solid;
    border-bottom: 10px solid;
    border-color: rgb(28, 54, 92);
    background-color: white;
}

i {
    padding: 10px;
}

/*CONTACT FORM*/
.contact-form {
    padding: 1vh 3vw;
    color: white;
}

.contact-text {
    text-align: center;
}

a.GitHub {
    color: rgb(28, 54, 92);
}

a.LinkedIn {
    color: rgb(28, 54, 92)
}

.form-group {
    border: 2px rgb(28, 54, 92);
}

footer {
    padding: 2vh;
    margin: 3vh;
    color: white;
}
