p {
    font-family: 'Barlow', sans-serif;
}

h3 {
    font-family: "Alegreya Sans SC", sans-serif;
}

/*NAVBAR */
.navbar-brand {
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 900;
}
#navbarNav {
    justify-content: flex-end;
    font-family: "Alegreya Sans SC", sans-serif;
}

/*PHOTO*/
img[alt="bosque-photo"] {
    border-left: 120px solid black;
    border-right: 120px solid black;
}

.text {
    font-family: "Alegreya Sans SC", sans-serif;
    align-items: center;
}


/*ABOUT-ME*/
.about-me {
    background-color: rgb(17, 34, 60);
    padding: 20px 5px;
    color: white;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: large;
}


/*SKILLS/PORTFOLIO*/
.portfolio {
    margin: 0px 30px;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-left: 10px solid;
    border-color: rgb(17, 34, 60);
}
